In [8]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import time
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB,BernoulliNB,MultinomialNB

In [33]:
data = pd.read_csv(r'titanic.csv')
data.Sex.replace(('male', 'female'), (1, 0), inplace=True)

data = data.dropna()
data.head()

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,1,22.0,1,0,7.2500
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,0,38.0,1,0,71.2833
2,1,3,Miss. Laina Heikkinen,0,26.0,0,0,7.9250
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,0,35.0,1,0,53.1000
4,0,3,Mr. William Henry Allen,1,35.0,0,0,8.0500

In [34]:
X_train,X_test = train_test_split(data,test_size = 0.3,random_state = 100)

In [37]:
gnb = GaussianNB()
used_features = ['Pclass','Sex','Age','Siblings/Spouses Aboard','Parents/Children Aboard','Fare']

In [38]:
gnb.fit(X_train[used_features].values , X_train['Survived'])

GaussianNB(priors=None, var_smoothing=1e-09)

In [39]:
y_pred = gnb.predict(X_test[used_features])
y_pred

array([0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0,
       0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1,
       0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0,
       0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0,
       1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1,
       0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0,
       1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1,
       1, 1, 0], dtype=int64)

In [41]:
print('Number of misabled points out of a total {} points:{},performance{:05.25f}%'.format(X_test.shape[0],
        (X_test["Survived"]!=y_pred).sum(),100*(1-(X_test["Survived"]!=y_pred).sum()/X_test.shape[0])))

Number of misabled points out of a total 267 points:53,performance80.1498127340823884878773242%

In [49]:
mean_survival = np.mean(X_train["Survived"])
mean_not_survival = 1-mean_survival
print('Survival',mean_survival*100)
print('Not survived',mean_not_survival*100)

Survival 38.70967741935484
Not survived 61.29032258064516